.hey,.section1{
    min-height: 80vh;
    background-image: url("https://www.myfreewalls.com/public/uploads/preview/4k-dark-goku-ultra-instinct-wallpaper-11628980732gzozhadzwq.jpg");
    width: 100%;
    height: 100%;
}
h1,p{
    color: #fff;
}