.bookS,.section2{
    min-height: 80vh;
    background-image: url("https://w0.peakpx.com/wallpaper/392/166/HD-wallpaper-ultra-instinct-goku-anime-dark-dbz-dragon-ball-iphone-manga-saiyan-ultra-instinct.jpg");
    width: 100%;
    height: 100%;
}
h1,p{
    color: #fff;
}