
    
        <h1>Available Books</h1>
    <p *ngIf="!loggedInUser">Log in to checkout books!</p>
    <div>
        <label for="bookSearch">Search Books: </label>
        <input [(ngModel)]="bookSearchText" type="text" id="bookSearch">
    </div>
     <div class="books" *ngIf="books && books.length>0; else noBooks">
        
       
        <app-book *ngFor="let eachBook of books | bookSearch:bookSearchText" [book]="eachBook"></app-book>
    </div> 
    <ng-template #noBooks>
        <p>There are no books available right now, check again later!</p>
    </ng-template>
   

