form {
  background: rgb(0,36,14);
  background: linear-gradient(90deg, rgba(0,36,14,0.7343312324929971) 0%, rgba(9,121,110,0.6951155462184874) 35%, rgba(0,212,255,1) 100%);
  border: 5px solid red;
  padding: 5px;
  margin: 80px;
  color: ghostwhite;
}
body {
  background: rgb(131,58,180);
  border: 5px solid green;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}  
#LP1{
  background-image: url('/Images/library.jpg');
  text-align:center;
  background-size: cover;
}
h1{
  color: orange;
  text-shadow: 5px;
  text-transform: capitalize;
  font-size: 6em;
  background: linear-gradient(45deg, #f3ec78, #af4261);
}