<main class="section">
    <h1>Available Bookss</h1>
    <p *ngIf="!loggedInUser">Log in to checkout books!</p>
    <div>
        <label for="bookSearch">Search Books: </label>
        <input [(ngModel)]="bookSearchText" type="text" id="bookSearch">
    </div>
    <div class="books" *ngIf="books && books.length>0; else noBooks">
        <!-- the pet component has @Input pet field to allow us to pass each pet
        into it. see the pet component for details -->
        <app-books *ngFor="let eachBook of books | bookSearch:bookSearchText" [book]="eachBook"></app-books>
    </div>
    <ng-template #noPets>
        <p>There are no pets available right now, check again later!</p>
    </ng-template>
</main>
