
<div class="container">
    <form [formGroup]= "userRegistrationForm" (ngSubmit)="submitRegistration()" novalidate>
      <div *ngIf="validMessage != ''">
        <h3 class="has-info">{{validMessage}}</h3>
      </div> 
       <h3>USER REGISTRATION </h3>
      <div class="form-group">
        
        <label >usernane</label>
        <input type="text" class="form-control" formControlName="username" id="username" required autofocus/>
      </div>
      <div class="form-group">
        <label >password</label>
        <input type="email" class="form-control" formControlName="password" id="password" required/>
      </div>
      <div class="form-group">
        <label >FullName</label>
        <input type="text" class="form-control" formControlName="fullName" id="fname" required/>
      </div>
      
    
      <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
  </div>
