<main class="section">
    <body>
        <ng-container *ngIf="!loggedInUser; else logout">
            <div>
                <label for="usernameInput" class="username">Username: </label>
                <input [(ngModel)]="credentials.username" class="tbx" type="text" id="usernameInput" placeholder="username">
                <label for="passwordInput" class="password">Password: </label>
                <input [(ngModel)]="credentials.password"  class="tbx" type="password" id="passwordInput" placeholder="password"> 
                <button class='sub' (click)="logIn()" type="button"  id="logInBtn">Log In</button>
            </div>
        </ng-container>
        <ng-template #logout>
            <div>
                {{ loggedInUser.firstName }}
                <button (click)="logOut()" type="button" id="logOutBtn">Log Out</button>
            </div>
        </ng-template>
    </body>
</main>